{% for field in form %}
  <div class="formField" id="field_{{ field.name }}">
    {{ field.errors }}
    {{ field.label_tag }}
    {{ field }}
    <span class="help-block">{{ field.help_text }}</span>
  </div>
{% endfor %}

<style>
.help-block {
  color: gray;
}

input[type=text], select {
  width: 100%;
  padding: 6px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  transition: 0.3s;
  background-color: #ffed7f;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formField {
  border-radius: 5px;
  padding: 10px;
}

#field_selected_neumes,#field_selected_patterns {
  display: none;
}
</style>