{% extends "base_generic.html" %}

{% block content %}
<div class="flex-column" style="flex: 50%">
  <div class="formContainer">
    <form action="/browse/browse-item/" method="post">
      {% csrf_token %}
      {{ form }}
      <input class="cbo-button" type="submit" value="Search">
    </form>
  </div>
</div>
<div class="flex-column" style="flex: 50%">
  <div class="browseResult">
    {% if items %}
    <table style="width: 100%;">
      <tr>
        <th>CB #</th>
        <th>Title</th>
        <th>Source</th>
      </tr>
      {% for item in items %}
      {% include "item_as_tr.html" with item=item %}
      {% endfor %}
    </table>
    {% else %}
    <p>There are no matching items.</p>
    {% endif %}
  </div>
</div>

<style>
  .browseResult,.formContainer {
    margin: 10px;
  }

  th {
    text-align: left;
  }
</style>
{% endblock %}