{% extends "base_generic.html" %}

{% block content %}
<div class="flex-column" style="flex: 20%">
  <!-- add left-side content here -->
</div>
<div style="flex: 70%">
  <h1>Item List</h1>

  <input type="text" id="searchInput" onkeyup="filterItems()" placeholder="Search...">
  <script>
    // This script makes the search input work
    function filterItems() {
      let filter = $("#searchInput").val().toLowerCase();
      $("tr:not(.head)").each(function() {
        let txt = '';
        $(this).children("td").each(function() { txt += $(this).text() + "|"; });
        console.log(txt)
        if (txt.toLowerCase().indexOf(filter) > -1) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    }
  </script>
  <table style="width: 100%; border-spacing: 0 2px;">
    <tr class="head">
      <th>CB #</th>
      <th>Title</th>
      <th>Source</th>
    </tr>
    {% for item in item_list %}
    {% include "item_as_tr.html" with item=item %}
    {% endfor %}
  </table>
  <!-- <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>-->
</div>

<div class="flex-column" style="flex: 10%">
  <!-- add right-side content here -->
</div>

<style>
  th {
    text-align: left;
  }

  #searchInput {
    width: 100%;
  }
</style>
{% endblock %}