{% extends "base_generic.html" %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/neumed-text.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.tab{
  box-sizing: border-box;
  display: inline-flex;
  width: 100%;
}

.active {
  background-color: #ffed7f;
}

.tabcontent {
  display: none;
  padding: 6px;
}

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  margin-left: auto;
}

.dropdown-content {
  display: none;
  margin-left: auto;
  position: absolute;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}
</style>

<script>
  $(document).ready(function(){
    $("#stressedSyllablesButton").click(function(){
      $(".syl[data-met='+']").toggleClass("font-bold");
    });
  });

  $(document).ready(function(){
    $("#toggleNeumesButton").click(function(){
      $(this).toggleClass("active");
      $(".neumes").toggle();
      $(".toggle-neumes").toggle();
      $(".app-type-neume").toggleClass("apparatus-visible");
    });
  });

  $(document).ready(function(){
    $("#toggleSyllablesButton").click(function(){
      $(this).toggleClass("active");
      $(".syl-dash").toggle();
    });
  });

  $(document).ready(function(){
    $("#toggleMetricButton").click(function(){
      $(this).toggleClass("active");
      $(".verse-met").toggle();
      $(".verse-real").toggle();
    });
  });

  $(document).ready(function(){
    $("#toggleRhymeButton").click(function(){
      $(this).toggleClass("active");
      $(".verse-rhyme").toggle();
    });
  });

  $(document).ready(function(){
    $("#togglePunctuationButton").click(function(){
      $(this).toggleClass("active");
      $(".pc").toggle();
    });
  });

  function dropBtn() {
    $("#dropdownDiv").toggle();
  }

  window.onclick = function(event) {
    if (!event.target.matches('#dropbtn') && !event.target.matches('#dropdownDiv > .cbo-button')) {
      $("#dropdownDiv").hide();
    }
  }

  $(document).ready(function(){
    $(".pc[data-resp='ms']").hide();
    $(".syl-dash").hide();
    $(".verse-met").hide();
    $(".verse-real").hide();
    $(".verse-rhyme").hide();
  });
</script>

<div style="padding: 20px; width: 100%;">
  <h1>CB {{ item.abstract_item.cb_id }}</h1>
  <h2>{{ item.title }}</h2>
  <p>Source: <a href="{{ item.source.get_absolute_url }}">{{ item.source.bib_id }}</a> ({{ item.source.location }})</p>
  <p>Folio: {{ item.foliation_str }}.</p>

  {{ item.tei_file|json_script:"tei-file" }}

  <script src="{% static 'javascript/set_leading_consonants.js' %}"></script>
  <script src="{% static 'javascript/indent.js' %}"></script>

  <div style="display: flex;">
    <div class="cbo-border-inset cbo-border-sand flex-50 flex-column">
      <div class="tab cbo-white cbo-wide cbo-padding cbo-card">
        <button id="defaultOpen" class="tablinks cbo-bar-item cbo-button" onclick="openTab(this, 'formattedText')">Formatted</button>
        <button class="tablinks cbo-bar-item cbo-button" onclick="openTab(this, 'continuousText')">Continuous</button>
        <div class="dropdown">
          <button id="dropbtn" onclick="dropBtn()" class="cbo-bar-item cbo-button"><i style="pointer-events: none;" class="fa fa-bars"></i></button>
          <div id="dropdownDiv" class="flex-column dropdown-content">
            {% if item.is_notated %}
            <button id="toggleNeumesButton" class="cbo-button active">Neumes</button>
            {% endif %}
            <button id="toggleSyllablesButton" class="cbo-button">Syllables</button>
            <button id="toggleMetricButton" class="cbo-button">Metrical analysis</button>
            <button id="toggleRhymeButton" class="cbo-button">Rhyme scheme</button>
            <button id="togglePunctuationButton" class="cbo-button">Original punctuation</button>
          </div>
        </div>
      </div>

      <div id="formattedText" class="tabcontent">
        {% autoescape off %}
        {{ item.formatted_transform }}
        {% endautoescape %}
        <hr/>
        {% autoescape off %}
        {{ item.text_apparatus_transform }}
        {% endautoescape %}
        {% if item.is_notated %}
          <hr class="toggle-neumes"/>
          <div class="toggle-neumes">
            {% autoescape off %}
            {{ item.neume_apparatus_transform }}
            {% endautoescape %}
          </div>
        {% endif %}
      </div>

      <div id="continuousText" class="tabcontent">
        {% autoescape off %}
        {{ item.continuous_transform }}
        {% endautoescape %}
        <hr/>
        {% autoescape off %}
        {{ item.text_apparatus_transform }}
        {% endautoescape %}
        {% if item.is_notated %}
          <hr class="toggle-neumes"/>
          <div class="toggle-neumes">
            {% autoescape off %}
            {{ item.neume_apparatus_transform }}
            {% endautoescape %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="cbo-border-inset cbo-border-sand flex-50">
    </div>
  </div>
</div>

<script>
  function openTab(tab, tabName) {
    $('.tabcontent').hide();
    $('.tablinks').removeClass('active');
    $("#" + tabName).css("display","block");
    $(tab).addClass("active");
    if (tabName == 'continuousText') {
      $("#toggleMetricButton").hide();
      $("#toggleRhymeButton").hide();
    }
    else {
      $("#toggleMetricButton").show();
      $("#toggleRhymeButton").show();
    }
  }

  $("#defaultOpen").click();
</script>
{% endblock %}