{% load static %}

<script>
  // Control the behaviour of different classes of buttons
  $(document).ready(function() {
    $(".activable").click(function() {
      $(this).addClass('active');
    });

    $(".toggleable").click(function() {
      $(this).toggleClass('active');
    });
  });
</script>

<script>
  // Assign functions to each button
  $(document).ready(function(){
    $("#dropBtn-{{ item.pk }}").click(function () {
      $("#dropdownDiv-{{ item.pk }}").toggle();
    });

    $("#openSvg-{{ item.pk }}").click(function(){
      $("#openText-{{ item.pk }}").removeClass('active');
      $("#text-{{ item.pk }}").hide();
      $("#svg-{{ item.pk }}").css("display","block");
    });

    $("#openText-{{ item.pk }}").click(function(){
      $("#openSvg-{{ item.pk }}").removeClass('active');
      $("#svg-{{ item.pk }}").hide();
      $("#text-{{ item.pk }}").css("display","block");
    });

    $("#openFormattedText-{{ item.pk }}").click(function(){
      $("#openContinuousText-{{ item.pk }}").removeClass('active');
      $("#continuousText-{{ item.pk }}").hide();
      $("#formattedText-{{ item.pk }}").css("display","block");
    });

    $("#openContinuousText-{{ item.pk }}").click(function(){
      $("#openFormattedText-{{ item.pk }}").removeClass('active');
      $("#formattedText-{{ item.pk }}").hide();
      $("#continuousText-{{ item.pk }}").css("display","block");
    });

    $("#stressedSyllablesButton-{{ item.pk }}").click(function(){
      $("#itemCoreView-{{ item.pk }} .syl[data-met='+']").toggleClass("font-bold");
    });

    $("#toggleNeumesButton-{{ item.pk }}").click(function(){
      $("#itemCoreView-{{ item.pk }} .neumes").toggle();
      if ($("#toggleCriticalApparatus-{{ item.pk }}").hasClass('active')) {
        $("#apparatusNeume-{{ item.pk }}").toggle();
        $("#itemCoreView-{{ item.pk }} .app-type-neume").toggleClass("apparatus-active");
      }
    });

    $("#toggleSyllablesButton-{{ item.pk }}").click(function(){
      $("#itemCoreView-{{ item.pk }} .syl-dash").toggle();
    });

    $("#toggleMetricButton-{{ item.pk }}").click(function(){
      $("#itemCoreView-{{ item.pk }} .verse-met").toggle();
      $("#itemCoreView-{{ item.pk }} .verse-real").toggle();
    });

    $("#toggleRhymeButton-{{ item.pk }}").click(function(){
      $("#itemCoreView-{{ item.pk }} .verse-rhyme").toggle();
    });

    $("#togglePunctuationButton-{{ item.pk }}").click(function(){
      $("#itemCoreView-{{ item.pk }} .pc").toggle();
    });

    $("#toggleCriticalApparatus-{{ item.pk }}").click(function(){
      $("#apparatusText-{{ item.pk }}").toggle();
      if ($("#toggleNeumesButton-{{ item.pk }}").hasClass('active')) {
        $("#apparatusNeume-{{ item.pk }}").toggle();
        $("#itemCoreView-{{ item.pk }} .app-type-neume").toggleClass("apparatus-active");
      }
      $("#itemCoreView-{{ item.pk }} .app-type-text").toggleClass("apparatus-active");
    });
  });

  window.onclick = function(event) {
    if (!event.target.matches('#dropBtn-{{ item.pk }}') && !event.target.matches('#dropdownDiv-{{ item.pk }} > .cbo-button')) {
      $("#dropdownDiv-{{ item.pk }}").hide();
    }
  }

  $(document).ready(function(){
    $("#openSvg-{{ item.pk }}").click();
    $("#openFormattedText-{{ item.pk }}").click();
    $("#itemCoreView-{{ item.pk }} .pc[data-resp='ms']").hide();
    $("#itemCoreView-{{ item.pk }} .word[data-rend='italic']").css("font-style", "italic");
    $("#itemCoreView-{{ item.pk }} .syl-dash").hide();
    $("#itemCoreView-{{ item.pk }} .verse-met").hide();
    $("#itemCoreView-{{ item.pk }} .verse-real").hide();
    $("#itemCoreView-{{ item.pk }} .verse-rhyme").hide();
  });
</script>

<script>
  $(document).ready(function(){
    // Show only every 5th verse number
    $(".strophe,.refrain").each(function(){
      $(this).find(".verse-number").each(function(index){
        if (index % 5 != 4) {
          $(this).css("visibility", "hidden");
        }
      });
    });
    // Attach the punctuation marks to the word spans
    $("span.pc").each(function(){
      if ($(this).hasClass('pre')) {
        next = $(this).next("span");
        if (next.hasClass("word")) { next.prepend($(this)); }
        else { next.find("span.word:first").prepend($(this)); }
      }
      else {
        prev = $(this).prev("span");
        if (prev.hasClass("word")) { prev.append($(this)); }
        else { prev.find("span.word:last").append($(this)); }
      }
    });
  });
</script>

<script src="{% static 'javascript/set_leading_consonants.js' %}"></script>
<script src="{% static 'javascript/indent.js' %}"></script>

<div id="itemCoreView-{{ item.pk }}">

  {% if item.is_svg_based %}

  <div class="tab cbo-white cbo-wide cbo-padding cbo-card">
    <button id="openSvg-{{ item.pk }}" class="tablinks cbo-bar-item cbo-button activable">Music</button>
    <button id="openText-{{ item.pk }}" class="tablinks cbo-bar-item cbo-button activable">Text</button>
    <div class="dropdown" style="z-index: 1500;">
      <button id="dropBtn-{{ item.pk }}" class="cbo-bar-item cbo-button"><i style="pointer-events: none;" class="fa fa-bars"></i></button>
      <div id="dropdownDiv-{{ item.pk }}" class="flex-column dropdown-content">
        <button id="toggleMetricButton-{{ item.pk }}" class="cbo-button toggleable">Metrical analysis</button>
        <button id="toggleRhymeButton-{{ item.pk }}" class="cbo-button toggleable">Rhyme scheme</button>
        <button id="togglePunctuationButton-{{ item.pk }}" class="cbo-button toggleable">Original punctuation</button>
        <button id="toggleCriticalApparatus-{{ item.pk }}" class="cbo-button toggleable active">Critical apparatus</button>
      </div>
    </div>
  </div>

  <div class="tabcontent" style="display: block;">
    <div id="mainContainer-{{ item.pk }}" style="height: 100%;">
      <div id="svg-{{ item.pk }}">
        {% autoescape off %}
          {{ item.svg_template }}
        {% endautoescape %}
      </div>

      <div id="text-{{ item.pk }}">
        {% autoescape off %}
        {{ item.formatted_transform }}
        {% endautoescape %}
        <div id="apparatusText-{{ item.pk }}" class="no-break">
          <hr/>
          {% autoescape off %}
          {{ item.text_apparatus_transform }}
          {% endautoescape %}
        </div>
      </div>
    </div>
  </div>

  {% else %}

  <div class="tab cbo-white cbo-wide cbo-padding cbo-card">
    <button id="openFormattedText-{{ item.pk }}" class="tablinks cbo-bar-item cbo-button activable">Formatted</button>
    <button id="openContinuousText-{{ item.pk }}"class="tablinks cbo-bar-item cbo-button activable">Continuous</button>
    <div class="dropdown" style="z-index: 1500;">
      <button id="dropBtn-{{ item.pk }}" class="cbo-bar-item cbo-button"><i style="pointer-events: none;" class="fa fa-bars"></i></button>
      <div id="dropdownDiv-{{ item.pk }}" class="flex-column dropdown-content">
        {% if item.is_notated %}
        <button id="toggleNeumesButton-{{ item.pk }}" class="cbo-button toggleable active">Neumes</button>
        {% endif %}
        <button id="toggleSyllablesButton-{{ item.pk }}" class="cbo-button toggleable">Syllables</button>
        <button id="toggleMetricButton-{{ item.pk }}" class="cbo-button toggleable">Metrical analysis</button>
        <button id="toggleRhymeButton-{{ item.pk }}" class="cbo-button toggleable">Rhyme scheme</button>
        <button id="togglePunctuationButton-{{ item.pk }}" class="cbo-button toggleable">Original punctuation</button>
        <button id="toggleCriticalApparatus-{{ item.pk }}" class="cbo-button toggleable active">Critical apparatus</button>
      </div>
    </div>
  </div>

  <div class="tabcontent" style="display: block;">
    <div id="mainContainer-{{ item.pk }}" style="height: 100%;">
      <div id="formattedText-{{ item.pk }}">
        {% autoescape off %}
        {{ item.formatted_transform }}
        {% endautoescape %}
      </div>
      <div id="continuousText-{{ item.pk }}">
        {% autoescape off %}
        {{ item.continuous_transform }}
        {% endautoescape %}
      </div>
      <div id="apparatusText-{{ item.pk }}" class="no-break">
        <hr/>
        {% autoescape off %}
        {{ item.text_apparatus_transform }}
        {% endautoescape %}
      </div>
      {% if item.is_notated %}
        <div id="apparatusNeume-{{ item.pk }}" class="no-break">
          <hr/>
          {% autoescape off %}
          {{ item.neume_apparatus_transform }}
          {% endautoescape %}
        </div>
      {% endif %}
    </div>
  </div>

  {% endif %}

</div>