{% extends "base_generic.html" %}

{% block content %}

{% load static %}

<h1>CB {{ item.abstract_item.cb_id }}</h1>
<h2>{{ item.title }}</h2>
<p>Source: <a href="{{ item.source.get_absolute_url }}">{{ item.source.bib_id }}</a> ({{ item.source.location }})</p>
<p>Folio: {{ item.foliation_str }}.</p>

{{ item.tei_file|json_script:"tei-file" }}

<button id="stressedSyllablesButton">Highlight stressed syllables</button>
<button id="showNeumesButton">Show neumes</button>
<button id="hideNeumesButton">Hide neumes</button>
<button id="plainTextButton">Plain text</button>

<script src="{% static 'javascript/toggle_buttons.js' %}"></script>
<script src="{% static 'javascript/set_leading_consonants.js' %}"></script>

<div id="tei-display" class="cbo-text-frame cbo-border-inset cbo-border-sand">
  {% autoescape off %}
    {{ item.text_transform }}
  {% endautoescape %}
  <hr/>
  {% autoescape off %}
    {{ item.text_apparatus_transform }}
  {% endautoescape %}
  <hr/>
  {% autoescape off %}
    {{ item.neume_apparatus_transform }}
  {% endautoescape %}
</div>

{% endblock %}