{% extends "base_generic.html" %}

{% block content %}
<div class="flex-column" style="flex: 20%">
  <!-- add left-side content here -->
</div>
<div style="flex: 70%">
  <h1>Item List</h1>

  <table style="width: 100%; border-spacing: 0 2px;">
    <tr>
      <th>CB #</th>
      <th>Title</th>
      <th>Source</th>
    </tr>
    {% for item in item_list %}
    {% include "item_as_tr.html" with item=item %}
    {% endfor %}
  </table>
  <!-- <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>-->
</div>

<div class="flex-column" style="flex: 10%">
  <!-- add right-side content here -->
</div>

<style>
  th {
    text-align: left;
  }
</style>
{% endblock %}