{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<style>
.neume-span {
  display: inline;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 10px;
  margin: 3px;
}

.neume-span:hover {
  border-width: 3px;
  padding: 8px;
  border-color: #f44336;
}
</style>
<div class="flex-column" style="flex: 20%">
  <!-- add side content here -->
</div>
<div style="flex: 80%">
  <h1>Neume List</h1>

  <div class="flex-wrapper">
    {% for neume in neume_list %}
    <a class="neume-span" href="{{ neume.get_absolute_url }}"><img src="{% static 'img/svg/' %}{{ neume.svg_path }}"></a>
    {% endfor %}
  </div>
</div>
{% endblock %}