{% extends "base_generic.html" %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/neumed-text.css' %}"/>

<div class="flex-column" style="flex: 20%">
  <!-- add side content here -->
</div>
<div style="flex: 80%">
  <div style="display: flex">
    <div style="flex: 2">
      <h1>Neume</h1>
      <img src="{% static neume.svg_path %}">
      <p>{{ neume.description }}</p>
    </div>
    <div style="flex: 1">
      <h5>Download options</h5>
      <a href="{% static neume.svg_path %}" download="neume{{ neume.n }}.svg"><img src="{% static 'img/SVG_Logo.svg' %}" style="width: 42px; height:42px;" /></a>
      <a href="{% static neume.eps_path %}" download="neume{{ neume.n }}.eps"><img src="{% static 'img/EPS_Logo.svg' %}" style="width: 42px; height:42px;" /></a>
    </div>
  </div>

  <h2>Occurrences in the edited items</h2>

  {% for item, k, snippet in items %}
  <p style="margin-top: 20px;"><a href="{{ item.abstract_item.get_absolute_url }}">CB {{ item.abstract_item.cb_id }}</a> <a href="{{ item.get_absolute_url }}">{{ item.title }}</a> ({{ k }})</p>
  <div class="cbo-border-inset cbo-border-sand">
    {% autoescape off %}
      {{ snippet }}
    {% endautoescape %}
  </div>
  {% endfor %}
</div>

<script src="{% static 'javascript/set_leading_consonants.js' %}"></script>
<script>
  $(document).ready(function(){
    $(".pc[data-resp='ms']").hide();
    $(".word[data-rend='italic']").css("font-style", "italic");
    $(".syl-dash").hide();
  });
</script>
{% endblock %}