.margin-6px {
  margin: 6px;
}

.text-font {
  font-family: Junicode;
  font-style: normal;
  word-spacing: 2px;
}

.font-small {
  font-size: 14px;
}

.non-selectable {
  /* Avoid text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.strophe {
  margin-bottom: 30px;
  counter-reset: line;
}

.lg-heading {
  margin-left: 30px;
}

.verse {
  display: flex;
  counter-increment: line;
}

.verse:before{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 25px;
  margin: 0 5px 0 0;
  padding-bottom: 1px;
  content: counter(line);
  color: gray;
  font-size: 13px;
}

.verse:not(:nth-child(5n+1)):before {
   visibility: hidden;
}

.verse-text {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  flex: 80%;
  margin: 0 20px 0 0;
}

.verse-met,.verse-rhyme {
  display: flex;
  align-items: flex-end;
  padding-bottom: 2px;
  flex: 10%;
  margin: 0 3px 0 3px;
  font-family: Verdana;
  font-size: 14px;
}

.hemistich {
  display: flex;
  align-items: flex-end;
  margin: 0 20px 0 0;
}

.word {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 3px;
  margin-left: 3px;
}

.neumed-syll {
  display: inline-flex;
  flex-direction: column-reverse;
}

.neumes {
  display: inline-flex;
  align-items: flex-end;
}

.neume {
  scale: 80%;
}

.neume-small {
  scale: 60%;
}

.consonant-space {
  background-color: white;
  color: white;
}

.syl {
  display: inline-flex;
}

.syl-dash {
  display: inline-flex;
}

.apparatus-in-text {
  position: relative;
  display: inline-flex;
  border-bottom: 1px dotted black;
  margin-bottom: -1px;
}

.apparatus-in-text .apparatus-note {
  visibility: hidden;
  display: inline-block;
  background-color: white;
  border-style: inset;
  border-radius: 5px;
  border-width: 3px;
  padding: 2px 2px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -10px;
  margin-right: -290px;
  opacity: 1;
  transition: opacity 0.4s;
}

.apparatus-in-text .apparatus-note:hover {
  z-index: 50;
}

.apparatus-in-text .apparatus-note::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.apparatus-in-text:hover .apparatus-note {
  visibility: visible;
  opacity: 1;
}

.lem,.rdg {
  display: inline-flex;
}

.wit {
  margin-right: 10px;
}

.app-note {
  display: inline-flex;
  align-items: flex-end;
  flex-wrap: per-wrap;
  margin-right: 10px;
  margin-left: 5px;
  white-space: pre-wrap;
  font-style: italic;
}

.prose-text {
  margin-bottom: 30px;
}

.spoken-text {
  margin-left: 10px;
}

p > .word {
  margin-left: 0;
  margin-right: 0;
}
